@font-face {
  font-family: 'peyda';
  src: url('/peyda/peyda-regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'peyda';
  src: url('/peyda/peyda-bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(218, 218, 218, 1);
  font-family: peyda, sans-serif;
}

.container {
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.main {
  height: 1080px;
  width: 1920px;
  display: flex;
  background-color: white;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

.imgbg img{
  display: block;
  width: 1084px;
  height: 1084px;
}

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
}

.logo img{
  width: 303px;
  height: 242px;
}


.login p {
  margin: 30px 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color:black;
}

.form_login form {
  width: 354px;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.form_login label {
  padding: 0 8px;
  font-weight: 400;
  color:black;
  text-align: right;
}

.form_login input {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-family: peyda, sans-serif;
  font-size: 16px;
  background-color: rgba(247, 248, 250, 1);
}


.btn {
  width: 100%;
  padding: 15px;
  margin-top: 32px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(35, 76, 106, 1);
  color: white;
}



