* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #dedef8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 430px;
  height: 100px;
  border: 1px dashed #acacac;
  margin: 20px auto;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  padding: 8px;
  overflow: hidden;
}

.box {
  flex-grow: 1;
  background-color: #ffa07a;
  border-radius: 5px;
  transition: all 0.4s ease-out;
  &:active {
    background: #7b68ee;
    flex-grow: 3;
  }
}
